# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore specific notebook files
# Example: To ignore all notebooks
*.ipynb

# Alternatively, ignore specific notebook files by name
# 01_hello_world.ipynb

